apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireguard
  namespace: vpn
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      service: wireguard
  template:
    metadata:
      labels:
        service: wireguard
    spec:
      containers:
        - name: wireguard
          image: linuxserver/wireguard:1.0.20250521
          imagePullPolicy: IfNotPresent
          command: ["/bin/bash"]
          args: ["/wg-config/startup.sh"]
          envFrom:
            - configMapRef:
                name: wireguard
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 128Mi
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
          volumeMounts:
            - name: wireguard-secret
              mountPath: /wg-config
              readOnly: true
      volumes:
        - name: wireguard-secret
          secret:
            secretName: wireguard-secret
