apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireguard
  namespace: vpn
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      service: wireguard
  template:
    metadata:
      labels:
        service: wireguard
    spec:
      containers:
        - name: wireguard
          image: linuxserver/wireguard:1.0.20250521
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Madrid
            - name: PERSISTENTKEEPALIVE_PEERS
              value: "all"
          envFrom:
            - secretRef:
                name: wireguard-secret
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 128Mi
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: false
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: wireguard-config
