apiVersion: v1
kind: Service
metadata:
  name: wireguard
  namespace: vpn
  labels:
    service: wireguard
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    service: wireguard
  ports:
    - name: wireguard
      port: 51820
      targetPort: 51820
      protocol: UDP
