---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    # Note: The ipPools section cannot be modified post-install.
    ipPools:
      - blockSize: 26
        cidr: "{{ k3s_server['cluster-cidr'] }}"
        encapsulation: "VXLANCrossSubnet"
        natOutgoing: Enabled
        nodeSelector: all()
  nodeMetricsPort: 9091
  typhaMetricsPort: 9093
  componentResources:
    - componentName: Node
      requests:
        cpu: 50m
        memory: 192Mi
      limits:
        memory: 192Mi
    - componentName: Typha
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        memory: 64Mi
    - componentName: KubeControllers
      requests:
        cpu: 50m
        memory: 96Mi
      limits:
        memory: 96Mi
