apiVersion: apps/v1
kind: Deployment
metadata:
  name: gluetun
  namespace: media-server
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    app: gluetun
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gluetun
  template:
    metadata:
      labels:
        app: gluetun
    spec:
      initContainers:
        - name: volume-permission-fixes
          image: busybox:latest
          command:
            - "sh"
            - "-c"
            - |
              mkdir -p /config-qbit/qBittorrent
              [ ! -f /config-qbit/qBittorrent/qBittorrent.conf ] && cp /tmp/qBittorrent/qBittorrent.conf /config-qbit/qBittorrent/qBittorrent.conf
              chown -R 1000:1000 /config-qbit /config-nzbget /config-prowlarr
          volumeMounts:
            - name: data
              mountPath: /data
            - name: qbittorrent-config
              mountPath: /config-qbit
            - name: qbittorrent-conf
              mountPath: /tmp/qBittorrent/qBittorrent.conf
              subPath: qBittorrent.conf
              readOnly: false
            - name: nzbget-config
              mountPath: /config-nzbget
            - name: prowlarr-config
              mountPath: /config-prowlarr
      containers:
        - name: gluetun
          image: qmcgaw/gluetun:v3.39.0
          imagePullPolicy: IfNotPresent
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          lifecycle:
            postStart:
              exec:
                command:
                  - "/bin/sh"
                  - "-c"
                  - "(ip rule del table 51820; ip -6 rule del table 51820) || true"
          ports:
            - name: vpn-port
              containerPort: 8888
            - name: qbittorrent
              containerPort: 8080
            - name: nzbget
              containerPort: 6789
            - name: prowlarr
              containerPort: 9696
            - name: flaresolverr
              containerPort: 8191
            - name: sonarr
              containerPort: 8989
            - name: radarr
              containerPort: 7878
            - name: lidarr
              containerPort: 8686
          envFrom:
            - secretRef:
                name: media-secret
          resources:
            requests:
              cpu: "50m"
              memory: "256Mi"
            limits:
              memory: "256Mi"
          volumeMounts:
            - name: gluetun-config
              mountPath: /gluetun
            - name: dev-net-tun
              mountPath: /dev/net/tun
            - name: gluetun-tmp
              mountPath: /tmp/gluetun
        - name: qbittorrent
          image: lscr.io/linuxserver/qbittorrent:5.1.2
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: media-config
            - secretRef:
                name: media-secret
          resources:
            requests:
              cpu: "50m"
              memory: "256Mi"
            limits:
              memory: "256Mi"
          volumeMounts:
            - name: qbittorrent-config
              mountPath: /config
            - name: data
              mountPath: /data
        - name: nzbget
          image: lscr.io/linuxserver/nzbget:25.4.20251009
          imagePullPolicy: IfNotPresent
          env:
            - name: NZBGET_USER
              valueFrom:
                secretKeyRef:
                  name: gluetun-conf
                  key: NZBGET_USER
            - name: NZBGET_PASS
              valueFrom:
                secretKeyRef:
                  name: gluetun-conf
                  key: NZBGET_PASS
          envFrom:
            - configMapRef:
                name: media-config
          lifecycle:
            postStart:
              exec:
                command:
                  - "/bin/sh"
                  - "-c"
                  - |
                    # Add DestDir and InterDir if they don't already exist
                    if ! grep -q '^DestDir=' /config/nzbget.conf; then sed -i '/^MainDir=.*/a DestDir=${MainDir}/completed' /config/nzbget.conf; fi
                    if ! grep -q '^InterDir=' /config/nzbget.conf; then sed -i '/^MainDir=.*/a InterDir=${MainDir}/intermediate' /config/nzbget.conf; fi
                    # Change config values
                    sed -i 's#^MainDir=.*#MainDir=/data/downloads/nzbget#' /config/nzbget.conf
                    sed -i 's#^DestDir=.*#DestDir=/data/downloads/nzbget/completed#' /config/nzbget.conf
                    sed -i 's#^InterDir=.*#InterDir=/data/downloads/nzbget/intermediate#' /config/nzbget.conf
                    sed -i 's#^AppendCategoryDir=.*#AppendCategoryDir=no#' /config/nzbget.conf
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              memory: "128Mi"
          volumeMounts:
            - name: nzbget-config
              mountPath: /config
            - name: data
              mountPath: /data
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:2.0.5
          imagePullPolicy: IfNotPresent
          env:
            - name: PROWLARR__AUTH__METHOD
              value: "Forms"
            - name: PROWLARR__AUTH__REQUIRED
              valueFrom:
                secretKeyRef:
                  name: gluetun-conf
                  key: PROWLARR__AUTH__REQUIRED
            - name: PROWLARR__AUTH__APIKEY
              valueFrom:
                secretKeyRef:
                  name: gluetun-conf
                  key: PROWLARR__AUTH__APIKEY
          envFrom:
            - configMapRef:
                name: media-config
          resources:
            requests:
              cpu: "50m"
              memory: "256Mi"
            limits:
              memory: "256Mi"
          volumeMounts:
            - name: prowlarr-config
              mountPath: /config
        - name: flaresolverr
          image: flaresolverr/flaresolverr:v3.4.2
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8191
          resources:
            requests:
              cpu: "100m"
              memory: "512Mi"
            limits:
              memory: "512Mi"
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.16
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: sonarr-conf
            - configMapRef:
                name: media-config
          ports:
            - name: http
              containerPort: 8989
          resources:
            requests:
              cpu: "50m"
              memory: "256Mi"
            limits:
              memory: "256Mi"
          volumeMounts:
            - name: sonarr-config
              mountPath: /config
            - name: data
              mountPath: /data
        - name: radarr
          image: lscr.io/linuxserver/radarr:5.27.5
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: radarr-conf
            - configMapRef:
                name: media-config
          ports:
            - name: http
              containerPort: 7878
          resources:
            requests:
              cpu: "50m"
              memory: "256Mi"
            limits:
              memory: "256Mi"
          volumeMounts:
            - name: radarr-config
              mountPath: /config
            - name: data
              mountPath: /data
        - name: lidarr
          image: lscr.io/linuxserver/lidarr:2.14.5
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: media-config
            - secretRef:
                name: lidarr-conf
          ports:
            - name: http
              containerPort: 8686
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              memory: "128Mi"
          volumeMounts:
            - name: lidarr-config
              mountPath: /config
            - name: data
              mountPath: /data
      volumes:
        - name: gluetun-config
          persistentVolumeClaim:
            claimName: gluetun-config-pvc
        - name: qbittorrent-config
          persistentVolumeClaim:
            claimName: qbittorrent-config-pvc
        - name: qbittorrent-conf
          secret:
            secretName: gluetun-conf
        - name: nzbget-config
          persistentVolumeClaim:
            claimName: nzbget-config-pvc
        - name: prowlarr-config
          persistentVolumeClaim:
            claimName: prowlarr-config-pvc
        - name: data
          persistentVolumeClaim:
            claimName: media-data-pvc
        - name: dev-net-tun
          hostPath:
            path: /dev/net/tun
            type: CharDevice
        - name: sonarr-config
          persistentVolumeClaim:
            claimName: sonarr-config-pvc
        - name: radarr-config
          persistentVolumeClaim:
            claimName: radarr-config-pvc
        - name: lidarr-config
          persistentVolumeClaim:
            claimName: lidarr-config-pvc
        - name: gluetun-tmp
          persistentVolumeClaim:
            claimName: gluetun-tmp-pvc
