---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: homeassistant
  labels:
    app: homeassistant
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      annotations:
        configmap.reloader.stakater.com/reload: homeassistant-config
        secret.reloader.stakater.com/reload: home-assistant-secret
      labels:
        app: homeassistant
    spec:
      hostNetwork: true
      containers:
        - image: ghcr.io/home-assistant/home-assistant:2025.11.3
          name: home-assistant
          env:
            - name: TZ
              value: "Europe/Madrid"
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
          resources:
            requests:
              cpu: "1000m"
              memory: "3Gi"
            limits:
              memory: "3Gi"
          volumeMounts:
            - mountPath: "/config"
              name: home-assistant-pvc
            - mountPath: "/config/configuration.yaml"
              name: home-assistant-config
              subPath: configuration.yaml
            - mountPath: "/config/binary_sensors.yaml"
              name: home-assistant-config
              subPath: binary_sensors.yaml
            - mountPath: "/config/lights.yaml"
              name: home-assistant-config
              subPath: lights.yaml
            - mountPath: "/config/fans.yaml"
              name: home-assistant-config
              subPath: fans.yaml
            - mountPath: "/config/covers.yaml"
              name: home-assistant-config
              subPath: covers.yaml
            - mountPath: "/etc/resolv.conf"
              name: home-assistant-config
              subPath: resolv.conf
            - mountPath: "/config/SERVICE_ACCOUNT.JSON"
              name: home-assistant-secret
              subPath: SERVICE_ACCOUNT.JSON
            - mountPath: "/var/run/dbus"
              name: dbus
      nodeSelector:
        kubernetes.io/hostname: nuc7pjyhn-rookie
      volumes:
        - name: home-assistant-config
          configMap:
            name: homeassistant-config
        - name: home-assistant-secret
          secret:
            secretName: home-assistant-secret
        - name: home-assistant-pvc
          persistentVolumeClaim:
            claimName: home-assistant-pvc
        - name: dbus
          hostPath:
            path: "/var/run/dbus"


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nut-upsd
  namespace: homeassistant
  labels:
    app: nut-upsd
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nut-upsd
  template:
    metadata:
      annotations:
        reload.stakater.com/auto: "true"
      labels:
        app: nut-upsd
    spec:
      hostNetwork: true
      containers:
        - name: nut-upsd
          image: instantlinux/nut-upsd:2.8.3-r2
          env:
            - name: NAME
              value: "server_ups"
            - name: DESCRIPTION
              value: "Server - Salicru SPS 1500 ONE V2"
            - name: DRIVER
              value: "blazer_usb" # "nutdrv_qx"
            - name: API_USER
              valueFrom:
                secretKeyRef:
                  name: home-assistant-secret
                  key: NUT_UPS_API_USER
            - name: API_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: home-assistant-secret
                  key: NUT_UPS_API_PASSWORD
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: home-assistant-secret
                  key: NUT_UPS_ADMIN_PASSWORD
          securityContext:
            privileged: true
          ports:
            - containerPort: 3493
              name: nut
              protocol: TCP
          volumeMounts:
            - name: sai-usb-device
              mountPath: /dev/bus/usb/001/003 # SAI
      nodeSelector:
        kubernetes.io/hostname: nuc7pjyhn-rookie
      volumes:
        - name: sai-usb-device
          hostPath:
            path: /dev/bus/usb/001/003  # SAI

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant-matter
  namespace: homeassistant
  labels:
    app: homeassistant-matter
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: homeassistant-matter
  template:
    metadata:
      labels:
        app: homeassistant-matter
    spec:
      hostNetwork: true
      initContainers:
        - name: wait-for-homeassistant
          image: busybox:1.36
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Waiting for Home Assistant to be ready at localhost:8123..."
              # This works because both pods use hostNetwork: true on the same node
              while ! wget -q --spider http://localhost:8123; do
                echo "Home Assistant not up yet, retrying in 5s..."
                sleep 5
              done

              echo "Home Assistant is READY."
              echo "Waiting an additional 30 seconds before starting Matter server..."
              sleep 30
              echo "Init container finished."
      containers:
        - image: ghcr.io/home-assistant-libs/python-matter-server:8.1
          name: home-assistant-matter
          env:
            - name: TZ
              value: "Europe/Madrid"
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              memory: "256Mi"
          volumeMounts:
            - mountPath: "/data"
              name: home-assistant-matter-pvc
            - mountPath: "/var/run/dbus"
              name: dbus
      nodeSelector:
        kubernetes.io/hostname: nuc7pjyhn-rookie
      volumes:
        - name: home-assistant-matter-pvc
          persistentVolumeClaim:
            claimName: home-assistant-matter-pvc
        - name: dbus
          hostPath:
            path: "/var/run/dbus"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant-mqtt
  namespace: homeassistant
  labels:
    app: mosquitto
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      annotations:
        configmap.reloader.stakater.com/reload: mosquitto-config
        secret.reloader.stakater.com/reload: home-assistant-secret
      labels:
        app: mosquitto
    spec:
      hostNetwork: true
      securityContext:
        runAsUser: 1883
        runAsGroup: 1883
      containers:
        - image: eclipse-mosquitto:2.0.22
          name: mosquitto
          env:
            - name: TZ
              value: "Europe/Madrid"
          ports:
            - containerPort: 1883
              name: mqtt
            - containerPort: 9001
              name: mqtt-websocket
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              memory: "64Mi"
          volumeMounts:
            - mountPath: "/mosquitto"
              name: home-assistant-mqtt-pvc
            - mountPath: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
              name: mosquitto-config
            - mountPath: "/mosquitto/config/mosquitto.passwd"
              name: home-assistant-secret
              subPath: MOSQUITTO_PASSWORD_FILE
      nodeSelector:
        kubernetes.io/hostname: nuc7pjyhn-rookie
      volumes:
        - name: home-assistant-mqtt-pvc
          persistentVolumeClaim:
            claimName: home-assistant-mqtt-pvc
        - name: mosquitto-config
          configMap:
            name: mosquitto-config
        - name: home-assistant-secret
          secret:
            secretName: home-assistant-secret

# ---
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: homeassistant-music-assistant
#   namespace: homeassistant
#   labels:
#     app: homeassistant-music-assistant
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: homeassistant-music-assistant
#   template:
#     metadata:
#       labels:
#         app: homeassistant-music-assistant
#     spec:
#       hostNetwork: true
#       containers:
#         - image: brainicism/bgutil-ytdlp-pot-provider:1.1.0
#           name: bgutil-ytdlp-pot-provider
#           env:
#             - name: TZ
#               value: "Europe/Madrid"
#           securityContext:
#             privileged: true
#             capabilities:
#               add:
#                 - NET_ADMIN
#                 - NET_RAW
#                 - SYS_ADMIN
#           resources:
#             requests:
#               cpu: "100m"
#               memory: "256Mi"
#             limits:
#               memory: "256Mi"
#           volumeMounts:
#             - mountPath: "/data"
#               name: home-assistant-music-assistant-pvc
#         - image: ghcr.io/music-assistant/server:2.5.5
#           name: music-assistant
#           env:
#             - name: TZ
#               value: "Europe/Madrid"
#           securityContext:
#             privileged: true
#             capabilities:
#               add:
#                 - NET_ADMIN
#                 - NET_RAW
#                 - SYS_ADMIN
#           resources:
#             requests:
#               cpu: "100m"
#               memory: "256Mi"
#             limits:
#               memory: "256Mi"
#           volumeMounts:
#             - mountPath: "/data"
#               name: home-assistant-music-assistant-pvc
#       nodeSelector:
#         kubernetes.io/hostname: nuc7pjyhn-rookie
#       volumes:
#         - name: home-assistant-music-assistant-pvc
#           persistentVolumeClaim:
#             claimName: home-assistant-music-assistant-pvc
